.vscode/**
.vscode-test/**
.idea/**
out/test/**
test/**
src/**
**/*.map
*.hbs
tmp/**
*.vsix
.gitignore
typings/**
cache/**
tools/**
docs/**
vendor/**
*.yml
tsconfig.json
vsc-extension-quickstart.md
node_modules/prebuild/**
node_modules/prebuild-install/**
node_modules/node-gyp/**
node_modules/node-ninja/**
node_modules/ajv/dist/**
node_modules/markdown-it/dist/**
node_modules/bson/browser_build/**
node_modules/unbzip2-stream/dist/**
node_modules/*/doc/**
node_modules/*/docs/**
node_modules/*/test/**
